<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>SUFeedURL</key><string>https://github.com/rsmith4321/Ejector/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key><string>YK41yEZFixJtIFM/h5WpCXDHDmPU3XBchFVj8o1ufhw=</string>
    <key>SUEnableAutomaticChecks</key><true/>
    <key>SUAutomaticallyUpdate</key><false/>
    <key>SUAllowsAutomaticUpdates</key><false/>
    <key>SUSendProfileInfo</key><false/>
    <key>SUEnableSystemProfiling</key><false/>
    <key>SUVerifyUpdateBeforeExtraction</key><true/>
    <key>SURequireSignedFeed</key><true/>
    <key>SUEnableJavaScript</key><false/>
</dict></plist>
